.catigories{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px ;
    margin-bottom: 50px;
}
.one{
    background-image: url('/public/images/catigory3.jpg');
    
}
.two{
    background-image: url('/public/images/catigory2.jpg');
   
}
.three{
    background-image: url('/public/images/catigory1.jpg');
   
}

.four{
    background-image: url('/public/images/catigory4.jpg');
   
}

.catigories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  
  .category-title {
    font-size: 2 rem; 
    margin-bottom: 10px;
  }
  
  .catigories {
    display: flex;
    justify-content: center;
  }
  
  .category {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    width: 180px; 
    height: 180px; 
    margin: 50px; 
  }
  
  @media (max-width: 968px) {
    .catigories {
      flex-wrap: wrap;
    }
  
    .category {
      width: 160px;
      height: 160px;
      margin: 10px;
    }
  }
  
@media (max-width: 480px) {
 

  .category {
    width: 140px;
    height: 140px;
    margin: 10px;
  }
}