/* Add styles for the Products component */
.category-section {
  text-align: center;
  margin-bottom: 40px;
}

.category-section h2 {
  font-size: 28px;
  margin-bottom: 16px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px; /* Adjust the gap between categories */
  margin-top: 20px;
  margin: 30px;
}

/* Style the product grid */
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
  gap: 20px; /* Adjust the gap between products */
}

.product {
  max-width: 345px;
  transition: transform 0.2s ease-in-out;
  margin: 30px;
}

.product:hover {
  transform: scale(1.05);
}
