.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 16px;
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.cart-item {
  /* Style for each cart item card */
  /* You can add styles as needed */
  max-width: 345px;
}
