.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 16px;
  height: 200vh;
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.cart-item {
 
  max-width: 345px;
}
