/* SearchBar.css */

.search-container {
  position: relative;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.search-result-item {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  border-bottom: 1px solid #ccc;

 

  
}
h1 {
  margin: 0;
  font-size: 14px;
  color: black;
}