/* NavigationMenu.css */


  
 
  .active-link
    .nav-elm {
padding: 20px;
    }
    .active-link{
background-color:#c83f49;
border-radius: 20%;
padding: 10px;
color:white

    }
    .nav-elm{
      padding: 10px;

    }